<div class="salary-add-container">
  <p class="salary-table-title">New Salary</p>

  <form class="form">

    <section class="first-section">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">

      <label for="contact">Contact No</label>
      <input type="number" name="contact" id="contact">

      <label for="date">Date</label>
      <input type="date" name="date" id="date">

      <label for="present">Present Days</label>
      <input type="number" name="present" id="present">

      <button type="submit" class="reset-button">reset</button>
    </section>

    <section class="sec-section">
      <label for="ad">Ad Total</label>
      <input type="number" name="ad" id="ad">

      <label for="amount">Amount</label>
      <input type="number" name="amount" id="amount">

      <label for="total">Total</label>
      <input type="number" name="total" id="total">

      <button type="submit" class="save-button">Save Employee</button>
    </section>
  </form>
</div>
