*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background: #fafafa;
  height: 100vh;
}

.salary-portal{

  width: 100%;

  display: flex;

  flex-direction: row;

  justify-content: space-evenly;
  margin-left: 10px;

}

.salary-table-container{
  width: 100%;

  border: 1px solid white;
  border-radius:10%;
}
.salary-table-title{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  text-align: center;

}

.salary-table-container > table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.salary-add-container{
  width: 100%;
  border: 2px solid gainsboro;
  border-radius:10%;
}

.form{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid gainsboro;

}

.first-section,.sec-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.save-button{

  background-color: #04AA6D;
  color: white;
  padding: 5px 10px;
}

.reset-button{
  background-color: #e75a50;
  color: white;
  padding: 5px 10px;
}

.delete-button{
  background-color: rgb(65, 118, 233);
  color: white;
  padding: 5px 10px;
}
