<div class="salary-table-container">
  <p class="salary-table-title">Salary Portal</p>

  <table class="salary-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Contact No</th>
      <th>Date</th>
      <th>Present Days</th>
      <th>Ad total</th>
      <th>Amount</th>
      <th>Total</th>
      <th>Buttons</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th>pallavi</th>
      <th>1234567890</th>
      <th>12/12/2020</th>
      <th>30</th>
      <th>30</th>
      <th>30000</th>
      <th>239103</th>
      <th><button type="submit" class="delete-button">Delete</button></th>
    </tr>
    <tr>
      <th>shubham</th>
      <th>1234567890</th>
      <th>12/12/2020</th>
      <th>30</th>
      <th>30</th>
      <th>30000</th>
      <th>239103</th>
      <th><button type="submit"  class="delete-button">Delete</button></th>
    </tr>
    <tr>
      <th>shubham</th>
      <th>1234567890</th>
      <th>12/12/2020</th>
      <th>30</th>
      <th>30</th>
      <th>30000</th>
      <th>239103</th>
      <th><button type="submit" class="delete-button">Delete</button></th>
    </tr>
    </tbody>
  </table>
</div>
