<div class="salary-table-container">
  <p class="salary-table-title">Salary Portal</p>

  <table class="salary-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Contact No</th>
      <th>Date</th>
      <th>Present Days</th>
      <th>Ad total</th>
      <th>Amount</th>
      <th>Total</th>
      <th>Buttons</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let employee of employes">
      <td>{{employee.name}}</td>
      <td>{{employee.contactNo}}</td>
      <td>{{employee.date}}</td>
      <td>{{employee.presentDays}}</td>
      <td>{{employee.adTotal}}</td>
      <td>{{employee.amount}}</td>
      <td>{{employee.total}}</td>
      <td>

        <button class="btn btn-danger" (click)="onDeleteEmployee(employee.name)" >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
